// В этом файле должны быть стили для БЭМ-блока contact, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact {

  $block-name:                &; // #{$block-name}__element

  padding-top: 15rem;
  padding-bottom: 20rem;

  text-align: center;
  background-size: cover;
  animation: live-bg 35s infinite;

  @media (min-width: $screen-xs) {
    background-image: url('../img/contact-bg-01-640p.png');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/contact-bg-01-1280p.png');
    }
  }

  @media (min-width: $screen-md) {
    background-image: url('../img/contact-bg-01-1280p.png');

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url('../img/contact-bg-01-2560p.png');
    }
  }

  @media (min-width: $screen-xxl) {
    background-image: url('../img/contact-bg-01-2560p.png');
  }

  &__heading {
    margin: 0;
    margin-bottom: 8rem;

    font-size: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    text-shadow: 0 1rem 2rem #000;
    color: var(--white-color);

    @media (max-width: 650px) {
      font-size: 6rem;
    }
  }

  &__inner {
    @include container(
      $xs-grid-gutter: 0,
      $sm-grid-gutter: 0,
      $md-grid-gutter: 0
    );
  }

  &__row {
    @include row($md-grid-gutter: 0);
  }

  &__form {
    @include col(xl, 5, 12, 10rem);
    @include col(lg, 7, 12, 10rem);
    @include col(md, 8, 12, 10rem);
    @include col(xs, 11, 12, 10rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    margin: auto;
    border-radius: 0.5rem;
    padding: 5rem;

    box-shadow: 0 1rem 3rem #000;
    background-color: rgba(255, 255, 255, 0.95);

    @media (max-width: 650px) {
      height: 40rem;
      padding: 2rem;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 1rem 0;

    input,
    textarea {
      max-width: 100%;
      max-height: 15rem;
      border: 0.1rem solid var(--secondary-color);
      border-radius: 0.5rem;
      padding: 1rem;
      padding-top: 3rem;

      font-size: 1.4rem;
      letter-spacing: 0.1rem;
      color: var(--light-grey-color);

      transition: border 0.3s;
      background-color: var(--secondary-color);

      &:focus {
        border: 0.1rem solid #ccc;
        outline: none;
      }
    }

    label {
      position: absolute;
      top: 1rem;
      left: 1rem;

      font-size: 1.2rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      color: var(--grey-color);
    }
  }

  &__input-groups {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 650px) {
      flex-direction: column;
    }

    #{$block-name}__input-group {
      width: 48.5%;

      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }

  &__submit {
    width: 100%;
    margin-top: 1rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;

    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    color: var(--white-color);

    transition: background-color 0.4s;
    background-color: var(--light-grey-color);
    cursor: pointer;

    &:hover {
      background-color: var(--grey-color);
    }
  }
}

@keyframes live-bg {

  0% {
    background-color: #3d3d3d;
  }

  25% {
    background-color: #ced8e4;
  }

  50% {
    background-color: #1e81f3;
  }

  75% {
    background-color: #ff7842;
  }

  100% {
    background-color: #3d3d3d;
  }
}
