extends ../pug/layout.pug

append config
  -
    currentTitle = 'Home'
    currentDescription = 'New website'
    currentUrl = 'index.html'

block header
  +page-header()#page-header
    .page-header__text
      h1.page-header__heading Around the world
      p.page-header__paragraph
        | "Traveling - it leaves you speechless, then turns you into a storyteller"

    +picture({
      'img': 'page-header-01',
      'alt': 'Baloon',
      'lg': false,
      'ext': 'png'
    }, 'page-header__img').page-header__img-wrapper

    +logo('/').page-header__logo
      span t
      span h
      span e
      span r
      span o
      span a
      span d
  ///.page-header

block content

  section.popular-tours#popular-tours
    h2.popular-tours__heading The Most Popular Tours

    .popular-tours__container
      .popular-tours__row

        .popular-tours__col
          .card
            .card__front
              +picture({
                'img': 'popular-tours-01',
                'alt': 'Forest',
                'lg': false,
                'ext': 'jpg'
              }, 'card__img').card__img-wrapper
              h3.card__name The wild forest
              ul.card__list
                li.card__list-item 7 days tour
                li.card__list-item Up to 20 people
                li.card__list-item 4 tour guides
                li.card__list-item Sleep in private tents
                li.card__list-item Difficulty: medium
              button.card__nav-btn price &gt;&gt;
            .card__back
              button.card__nav-btn &lt;&lt; back
              h4.card__price $399
              +btn('Booking').card__btn(href='#')

        .popular-tours__col
          .card
            .card__front
              +picture({
                'img': 'popular-tours-02',
                'alt': 'River',
                'lg': false,
                'ext': 'jpg'
              }, 'card__img').card__img-wrapper
              h3.card__name Along the river
              ul.card__list
                li.card__list-item 9 days tour
                li.card__list-item Up to 30 people
                li.card__list-item 7 tour guides
                li.card__list-item Sleep in private tents
                li.card__list-item Difficulty: hard
              button.card__nav-btn price &gt;&gt;
            .card__back
              button.card__nav-btn &lt;&lt; back
              h4.card__price $499
              +btn('Booking').card__btn(href='#')

        .popular-tours__col
          .card
            .card__front
              +picture({
                'img': 'popular-tours-03',
                'alt': 'Sea',
                'lg': false,
                'ext': 'jpg'
              }, 'card__img').card__img-wrapper
              h3.card__name The island beach
              ul.card__list
                li.card__list-item 5 days tour
                li.card__list-item Up to 40 people
                li.card__list-item 8 tour guides
                li.card__list-item Sleep in hotel
                li.card__list-item Difficulty: easy
              button.card__nav-btn price &gt;&gt;
            .card__back
              button.card__nav-btn &lt;&lt; back
              h4.card__price $599
              +btn('Booking').card__btn(href='#')
    ///.popular-tours__wrapper
  ///.popular-tours

  section.stories#stories
    .stories__video-container
      //- https://coverr.co/ more free videos for bg
      video.stories__video-bg(autoplay, muted, loop, src='video/stories.mp4')

    .stories__wrapper

      .stories__item-bg
        .stories__item
          +picture({
            'img': 'stories-01',
            'alt': 'Customer image',
            'lg': false,
            'ext': 'jpg'
          }, 'stories__img').stories__img-wrapper
          .stories__text
            h2.stories__heading
              | These were the best days of this year
            p.stories__paragraph
              | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium, laboriosam omnis quidem libero.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, labore!

      .stories__item-bg
        .stories__item
          +picture({
            'img': 'stories-02',
            'alt': 'Customer image',
            'lg': false,
            'ext': 'jpg'
          }, 'stories__img').stories__img-wrapper
          .stories__text
            h2.stories__heading
              | I enjoyed this great tour
            p.stories__paragraph
              | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum optio fugit rerum repellendus pariatur rem ratione corrupti atque adipisci aliquid possimus et facilis provident ullam praesentium, laboriosam omnis quidem libero.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, labore!
  ///.stories
